<h1>BARCELONA</h1>
Barcelona is a city on the northeastern coast of Spain

</br></br>

    <div class="card-group">
  <div class="card text-center">
  <h5 class="card-title">
  <a href="https://en.wikipedia.org/wiki/Sagrada_Fam%C3%ADlia" target="_blank">Sagrada Familia</a> 
  </h5>
  <%= image_tag("SagradaF.jpg", :alt => "rss feed", :size => "200x250", 
  :style => "margin-left: 50px; margin-top: 3px; float: center; width: 180px;") %>
  
    <div class="card-body">
      <p class="card-text">The Basílica i Temple Expiatori de la Sagrada Família, otherwise known as Sagrada Família, is a church under construction in the Eixample district of Barcelona, Catalonia, Spain</p>
      <a href="https://en.wikipedia.org/wiki/Sagrada_Fam%C3%ADlia" class="btn btn-success" target="_blank">Read more</a>
      </div>
  </div>

  <div class="card">
  <h5 class="card-title text-center">
  <a href="https://en.wikipedia.org/wiki/Arc_de_Triomf" target="_blank">Arc de Triomf</a> 
  </h5>
    <%= image_tag("Arc_de_Triomf.jpg", :alt => "rss feed", :size=> "200x250", 
    :style => "margin-left: 50px; margin-top: 3px; float: center; width: 180px;") %>
    <div class="card-body text-center">The Arc de Triomf is a memorial arch in Barcelona, Catalonia, Spain.This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="https://en.wikipedia.org/wiki/Arc_de_Triomf" class="btn btn-success" target="_blank">Read more</a>
      </div>
  </div>

  <div class="card text-center">
  <h5 class="card-title text">
  <a href="https://en.wikipedia.org/wiki/Torre_Gl%C3%B2ries" target="_blank">Torre Glòries</a> 
  </h5>
    <%= image_tag("Pepino.jpg", :alt => "rss feed", :size=> "200x250", 
    :style => "margin-left: 50px; margin-top: 3px; float: center; width: 180px;") %>
    <div class="card-body text">
      <p class="card-text">The Torre Glòries, formerly known as Torre Agbar, is a 38-story skyscraper located between Avinguda Diagonal and Carrer Badajoz, near Plaça de les Glòries Catalanes, which marks the gateway to the new technological district of Barcelona, Catalonia, Spain.</p>
      <a href="https://en.wikipedia.org/wiki/Torre_Gl%C3%B2ries" class="btn btn-success" target="_blank">Read more</a>
      </div>
  </div>

  <div class="card text-center">
  <h5 class="card-title text">
  <a href="https://es.wikipedia.org/wiki/Casa_Batll%C3%B3" target="_blank">Casa Batlló</a> 
  </h5>
    <%= image_tag("CasaB.jpg", :alt => "rss feed", :size=> "200x250", 
    :style => "margin-left: 50px; margin-top: 3px; float: center; width: 180px;") %>
    <div class="card-body text">
      <p class="card-text">La Casa Batlló es un edificio obra del arquitecto Antoni Gaudí, máximo representante del modernismo catalán.</p>
      <a href="https://es.wikipedia.org/wiki/Casa_Batll%C3%B3" class="btn btn-success" target="_blank">Read more</a>
      </div>
  </div>
</div>

